header {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4252;
 }

 h1 {
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
    border: 0.75rem double black;
    border-radius: 24px;
    border-color: white;
    background-color: #3A4252;
 }

 a {
     font-family: inherit;
     font-size: 42px;
     letter-spacing: 3px;
     color: white;
     text-decoration: none;
 }

 @keyframes fadeIn {
   from { opacity: 0; }
   to { opacity: 1; }
 }
 
 .fade-in-animate {
   opacity: 0;
   animation: fadeIn 2s forwards;
 }
 
 #second {
   animation-delay: 2s;
 }
 
 #third {
   animation-delay: 4s;
 }

 .game-info {
    display: flex;
    border-radius: 24px;
    background-color: #3f51b5;
 }

div.content-wrapper {
  width: 40%;
  margin: 1rem;
  
}

.player-info {
  background-color: #37474f;
  margin: 1.5rem;
  width: 45%;
  text-align: center;
  color: #eceff1;
  border-radius: 24px;
}

 h2 {
    align-items: center;
    letter-spacing: 3px;
    font-size: 32px;
 }

 .icon {
     height: 100px;
     width: 100px;
     margin: 3rem 0 0 0;
 }

span {
  margin: 14px;
}

hr {
  align-self: center;
  height: 200px;
  margin: 14px 14px 14px 14px;
  border: 1px solid #eceff1;
  color: #eceff1;
}


body, html {
     height: 100%;
     font-size: 18px;
     background-color: white;
     font-family: 'Raleway', Arial, sans-serif;
}